.doodle-switch {
  --switch-width: 60px;
  --switch-height: 32px;
  --border-thickness: 3px;
  --knob-size: 20px; 
  
  --trans-dur: 0.3s;
  
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
}

.switch__input {
  appearance: none;
  -webkit-appearance: none;
  outline: transparent;
  
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
  
  background-color: #87CEEB; 
  border: var(--border-thickness) solid var(--ink); 
  border-radius: 99px;
  
  box-shadow: 3px 3px 0px rgba(0,0,0,0.2);
  transition: background-color var(--trans-dur);
  cursor: pointer;
  
  box-sizing: border-box; 
}

.switch__input:hover {
  animation: wiggle 0.6s ease-in-out;
  transform: scale(1.02);
}

.switch__input:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

.switch__input:after {
  content: "";
  display: block;
  position: absolute;
  
  top: 50%;
  transform: translateY(-50%); 
  left: 4px; 
  
  width: var(--knob-size);
  height: var(--knob-size);
  
  border-radius: 50%;
  border: 2px solid var(--ink);
  background-color: var(--banana);
  
  transition: transform var(--trans-dur), background-color var(--trans-dur);
  z-index: 2;
}

.switch__input:checked {
  background-color: #2c2c54; 
}

.switch__input:checked:after {
  background-color: #f5f6fa;
  transform: translate(26px, -50%); 
}

.switch__sr {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}